# Dummy con variables categoricas

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
gender = ['Male', 'Female']
income = ['Poor', "Middle Class", 'Rich']
gender_data = []
income_data = []
n = 500
for i in range(n):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [23]:
height = 160 + 30*np.random.randn(n)
weight = 65 + 25*np.random.randn(n)
age = 30 + 12*np.random.randn(n)
income = 18000 + 3500*np.random.randn(n)

In [24]:
data = pd.DataFrame(
    {
        'Gender': gender_data,
        'Economic Status': income_data,
        'Height': height,
        'Weight': weight,
        'Age': age,
        'Income': income
    }
)

In [25]:
data.head()

   Gender Economic Status      Height     Weight        Age        Income
0  Female    Middle Class  144.428481  60.313390  43.692224  18395.514447
1  Female    Middle Class  147.673907  31.560938  44.078690  23003.011810
2    Male            Poor  212.009571  66.500483  20.487896  14164.090882
3  Female            Poor  138.444587  66.297477  18.788113  17843.716836
4    Male    Middle Class  131.036660  29.769833  38.661432  16430.104731

## Agrupacion de datos

In [29]:
grouped_gender = data.groupby('Gender')

In [30]:
grouped_gender.groups

{'Female': Int64Index([  0,   1,   3,   5,   6,   7,  12,  15,  18,  23,
             ...
             482, 484, 485, 486, 487, 488, 494, 496, 498, 499],
            dtype='int64', length=271),
 'Male': Int64Index([  2,   4,   8,   9,  10,  11,  13,  14,  16,  17,
             ...
             480, 481, 483, 489, 490, 491, 492, 493, 495, 497],
            dtype='int64', length=229)}

In [31]:
for names, groups in grouped_gender:
    print(names)
    print(groups)

Female
     Gender Economic Status      Height      Weight        Age        Income
0    Female    Middle Class  144.428481   60.313390  43.692224  18395.514447
1    Female    Middle Class  147.673907   31.560938  44.078690  23003.011810
3    Female            Poor  138.444587   66.297477  18.788113  17843.716836
5    Female    Middle Class  177.336051   49.475891  31.202366  22556.162864
6    Female            Poor  186.286624   52.323375  61.474289  18594.063403
7    Female            Poor  121.218066   53.807157  55.052100  16809.900643
12   Female    Middle Class  198.649819   68.761069  29.620501  23736.442017
15   Female            Rich  148.718478   34.556429  37.139316  18942.223136
18   Female            Rich  115.915922   96.060002  24.841126  18942.473350
23   Female    Middle Class  170.076877   95.841080  33.970878   9661.767701
25   Female            Poor  139.186702   72.325254  19.148637  18302.495548
27   Female            Rich  130.529015   97.541729  15.674410  15872.173086
28   Female            Poor  193.550203   37.561615  37.135731  18220.525359
29   Female            Poor  125.419452   68.549526  27.976990  21854.600711
31   Female    Middle Class  179.840615   60.846685  14.151830  18700.167861
32   Female    Middle Class  120.822764   57.278496  35.352274  17132.655846
34   Female    Middle Class  119.358132   31.030366  18.896779  18287.518669
35   Female            Poor  156.584299   66.430870  25.661454  23372.407246
36   Female            Rich  109.836509   83.657997  29.975193  15960.825137
39   Female            Rich  142.631906   43.540574  31.568844  15605.285937
41   Female            Rich  120.748882   54.700003  28.040788  16091.426387
44   Female    Middle Class  154.662939   28.581866  18.066874  10411.133211
49   Female    Middle Class  156.067348   87.618669  23.981475  19630.818264
50   Female            Poor  228.537381   76.248477   6.544561  14864.406650
52   Female            Rich  161.759585   32.060062  22.727728  21519.399771
53   Female            Rich  153.193083   55.521324  15.773648  15954.770015
54   Female            Rich   84.562146  100.449167  28.169187  12400.950177
55   Female    Middle Class  157.719480   71.468609  37.830865  15468.566901
56   Female    Middle Class  152.557919   99.529018  42.760679  14772.261702
57   Female            Poor  212.099079   28.265252  37.457554  16935.371772
..      ...             ...         ...         ...        ...           ...
449  Female            Rich  195.077540   70.078792  48.359432  15380.376831
450  Female            Rich  177.183123  105.958251  35.608003  14334.631393
451  Female            Rich  152.646581   86.697570   7.025986  15010.511885
453  Female            Poor  132.853874   25.676446  40.283035  15651.022589
455  Female            Rich  128.949645   49.358209  29.495890  13319.902544
457  Female            Rich  238.838891   69.158791  25.989396  19380.929112
459  Female            Poor  193.874631   56.131648  32.106764  19479.745566
460  Female            Rich  212.754172   41.479591  33.717819  15265.100002
462  Female            Poor  176.005247   92.149586  35.682392  16301.415697
466  Female    Middle Class  193.185896   27.164161  48.681558  17647.798785
467  Female    Middle Class  139.173603   78.391682  24.270512  11660.194313
468  Female            Rich  151.790314   18.438977  25.312194  12649.570603
470  Female            Poor  186.564275   88.648073  21.003371  16332.473160
471  Female            Rich  111.340012   68.133656  29.343386  18515.145086
472  Female            Poor  139.151248   68.316723  29.121681  14253.249882
473  Female            Rich  197.424186   33.406369  34.986329  19016.051550
475  Female            Poor  168.365185   35.269292  49.265011   9464.913576
476  Female            Rich  175.328610   49.665447  27.271561  19606.246226
478  Female    Middle Class  145.515397   85.621440  36.023690  17681.113796
479  Female            Poor   76.866117   74.085476  28.249743  21700.730251
482  Female    Middle Class  127.566402   41.608124  27.957559  19045.875215
484  Female            Poor  144.732144   18.627675  23.259762  16004.871584
485  Female            Poor  137.311494   40.543166  46.526320  17374.392992
486  Female            Poor  152.175184   49.294441  17.992058  26578.229956
487  Female            Rich  167.106621   96.528616  43.896631  17936.775678
488  Female    Middle Class  156.315782   45.660251  28.763831  16491.780894
494  Female            Poor  134.624329  102.599169  33.877891  17720.649194
496  Female            Rich  168.769041   35.545854  38.575842  18008.997772
498  Female            Poor  188.334330   38.342636  25.263404  17260.616869
499  Female            Poor  168.433795   61.806832  -2.058360  20040.982358

[271 rows x 6 columns]
Male
    Gender Economic Status      Height      Weight        Age        Income
2     Male            Poor  212.009571   66.500483  20.487896  14164.090882
4     Male    Middle Class  131.036660   29.769833  38.661432  16430.104731
8     Male            Rich   88.021286   86.767826  18.175117  17699.946079
9     Male            Rich  225.099505  107.655188   9.123983   9337.323036
10    Male            Poor  159.199727   75.720074   1.259896  16436.953090
11    Male            Poor  112.983125   78.093221  37.436517  21648.730974
13    Male            Rich  159.050535    6.089336  42.971077  19222.876004
14    Male    Middle Class  135.130766   33.279189  20.650390  16176.476071
16    Male            Poor  135.075300   49.539689  39.729190  16150.974580
17    Male            Rich  177.490275   79.355695  16.221189  16286.209321
19    Male    Middle Class  203.130401   54.521595  23.393886  17192.940192
20    Male    Middle Class  124.745462   62.621928  25.456214  19557.757432
21    Male    Middle Class  138.715049   71.130973  30.477043  16854.277629
22    Male            Poor   96.117316   35.681205  25.214355  20197.344101
24    Male            Poor  238.860824   36.138806  32.555738  14953.354191
26    Male            Poor  141.041526   69.842599  42.820148  19379.983821
30    Male    Middle Class  130.113744   67.958874  39.105433  15028.235067
33    Male            Rich  153.954209   74.296630  26.207526  17098.784659
37    Male            Poor  124.524261   50.545088  14.783854  14081.395459
38    Male            Poor  120.830007   63.691645  44.148938  21474.612262
40    Male    Middle Class  197.323575   86.770170  34.953053  15473.089831
42    Male            Rich  191.686021   47.335449  23.503133  21653.711207
43    Male            Poor  175.750897   32.181874  51.547711  15988.336663
45    Male            Rich  162.462688   10.745271  28.577604  15984.245453
46    Male            Rich  182.120801   76.568957  41.049981  15226.147385
47    Male            Poor  155.341449  104.254528  33.094696  20232.957086
48    Male            Poor  163.417027   33.323312  16.631075  18367.326087
51    Male    Middle Class  152.886155   32.836839  39.965334  15077.390676
59    Male    Middle Class  150.343729   49.513894  33.863424  16442.230161
61    Male            Rich  104.351868   31.560313  36.367760  16519.593259
..     ...             ...         ...         ...        ...           ...
434   Male            Rich  199.621144   56.308443  36.258787  14413.368714
436   Male            Poor  189.799270   65.742798  34.029703  24796.408489
438   Male            Rich  153.055989   26.658519  59.017609  16628.198303
439   Male            Poor  165.621627   52.807461  27.000383  23102.608512
441   Male            Poor  111.373421   31.978241  39.355161  19017.674726
442   Male            Poor  195.627185   18.904393   6.982713  20377.401726
445   Male            Rich  152.813493   32.690615  38.929015  15889.168202
447   Male            Poor  194.486165   89.812611  23.820094  17965.600979
448   Male    Middle Class  151.866198   68.407651  45.540475  12523.290765
452   Male    Middle Class  159.567803  120.296617  28.446783  22382.620809
454   Male    Middle Class  180.214557   63.696335  36.151503  23650.722189
456   Male            Rich  212.795617   83.177467  22.435974  18903.454549
458   Male            Poor   62.636787   67.980283  36.618747  15806.917965
461   Male            Poor  111.100066  100.345387  13.339213  16218.986020
463   Male    Middle Class  174.741734   64.913271  30.806279  13294.422080
464   Male            Rich  205.243599   29.726789  18.953948  18361.154782
465   Male            Rich  143.668329   70.907729  31.062714  12217.724760
469   Male    Middle Class  189.912307   91.705999  38.603016  19144.272311
474   Male            Poor  110.357896   77.481114  40.666125  13590.118408
477   Male            Rich  168.676311   62.426724  37.652270  17866.492855
480   Male            Poor  144.705027   82.067362  33.370060  10301.177604
481   Male            Poor  204.457177   83.186322  18.012883  20886.887252
483   Male            Rich  162.905798   62.760362  24.384203  16931.155498
489   Male            Poor  129.910091   70.752774  18.635059  19377.238303
490   Male            Poor   82.303917   83.172282  33.228681  12667.796697
491   Male            Rich  196.206689   43.533153   9.983168  19087.771535
492   Male    Middle Class  136.126775   85.255556  26.398857  19537.374872
493   Male    Middle Class  157.254393   71.928716  34.084988  11669.654161
495   Male            Rich  165.296809   62.312879  42.588872  25684.394990
497   Male            Poor  162.477811   47.715380  31.614652  11732.165214

[229 rows x 6 columns]

In [32]:
grouped_gender.get_group('Female')

     Gender Economic Status      Height      Weight        Age        Income
0    Female    Middle Class  144.428481   60.313390  43.692224  18395.514447
1    Female    Middle Class  147.673907   31.560938  44.078690  23003.011810
3    Female            Poor  138.444587   66.297477  18.788113  17843.716836
5    Female    Middle Class  177.336051   49.475891  31.202366  22556.162864
6    Female            Poor  186.286624   52.323375  61.474289  18594.063403
7    Female            Poor  121.218066   53.807157  55.052100  16809.900643
12   Female    Middle Class  198.649819   68.761069  29.620501  23736.442017
15   Female            Rich  148.718478   34.556429  37.139316  18942.223136
18   Female            Rich  115.915922   96.060002  24.841126  18942.473350
23   Female    Middle Class  170.076877   95.841080  33.970878   9661.767701
25   Female            Poor  139.186702   72.325254  19.148637  18302.495548
27   Female            Rich  130.529015   97.541729  15.674410  15872.173086
28   Female            Poor  193.550203   37.561615  37.135731  18220.525359
29   Female            Poor  125.419452   68.549526  27.976990  21854.600711
31   Female    Middle Class  179.840615   60.846685  14.151830  18700.167861
32   Female    Middle Class  120.822764   57.278496  35.352274  17132.655846
34   Female    Middle Class  119.358132   31.030366  18.896779  18287.518669
35   Female            Poor  156.584299   66.430870  25.661454  23372.407246
36   Female            Rich  109.836509   83.657997  29.975193  15960.825137
39   Female            Rich  142.631906   43.540574  31.568844  15605.285937
41   Female            Rich  120.748882   54.700003  28.040788  16091.426387
44   Female    Middle Class  154.662939   28.581866  18.066874  10411.133211
49   Female    Middle Class  156.067348   87.618669  23.981475  19630.818264
50   Female            Poor  228.537381   76.248477   6.544561  14864.406650
52   Female            Rich  161.759585   32.060062  22.727728  21519.399771
53   Female            Rich  153.193083   55.521324  15.773648  15954.770015
54   Female            Rich   84.562146  100.449167  28.169187  12400.950177
55   Female    Middle Class  157.719480   71.468609  37.830865  15468.566901
56   Female    Middle Class  152.557919   99.529018  42.760679  14772.261702
57   Female            Poor  212.099079   28.265252  37.457554  16935.371772
..      ...             ...         ...         ...        ...           ...
449  Female            Rich  195.077540   70.078792  48.359432  15380.376831
450  Female            Rich  177.183123  105.958251  35.608003  14334.631393
451  Female            Rich  152.646581   86.697570   7.025986  15010.511885
453  Female            Poor  132.853874   25.676446  40.283035  15651.022589
455  Female            Rich  128.949645   49.358209  29.495890  13319.902544
457  Female            Rich  238.838891   69.158791  25.989396  19380.929112
459  Female            Poor  193.874631   56.131648  32.106764  19479.745566
460  Female            Rich  212.754172   41.479591  33.717819  15265.100002
462  Female            Poor  176.005247   92.149586  35.682392  16301.415697
466  Female    Middle Class  193.185896   27.164161  48.681558  17647.798785
467  Female    Middle Class  139.173603   78.391682  24.270512  11660.194313
468  Female            Rich  151.790314   18.438977  25.312194  12649.570603
470  Female            Poor  186.564275   88.648073  21.003371  16332.473160
471  Female            Rich  111.340012   68.133656  29.343386  18515.145086
472  Female            Poor  139.151248   68.316723  29.121681  14253.249882
473  Female            Rich  197.424186   33.406369  34.986329  19016.051550
475  Female            Poor  168.365185   35.269292  49.265011   9464.913576
476  Female            Rich  175.328610   49.665447  27.271561  19606.246226
478  Female    Middle Class  145.515397   85.621440  36.023690  17681.113796
479  Female            Poor   76.866117   74.085476  28.249743  21700.730251
482  Female    Middle Class  127.566402   41.608124  27.957559  19045.875215
484  Female            Poor  144.732144   18.627675  23.259762  16004.871584
485  Female            Poor  137.311494   40.543166  46.526320  17374.392992
486  Female            Poor  152.175184   49.294441  17.992058  26578.229956
487  Female            Rich  167.106621   96.528616  43.896631  17936.775678
488  Female    Middle Class  156.315782   45.660251  28.763831  16491.780894
494  Female            Poor  134.624329  102.599169  33.877891  17720.649194
496  Female            Rich  168.769041   35.545854  38.575842  18008.997772
498  Female            Poor  188.334330   38.342636  25.263404  17260.616869
499  Female            Poor  168.433795   61.806832  -2.058360  20040.982358

[271 rows x 6 columns]

In [33]:
double_group = data.groupby(['Gender','Economic Status'])

In [34]:
double_group.groups

{('Female',
  'Middle Class'): Int64Index([  0,   1,   5,  12,  23,  31,  32,  34,  44,  49,  55,  56,  64,
              66,  69,  71,  74,  82,  88,  97, 100, 106, 113, 115, 117, 134,
             138, 143, 145, 157, 165, 171, 173, 175, 182, 191, 195, 206, 212,
             226, 233, 248, 264, 268, 270, 272, 276, 278, 279, 284, 287, 288,
             290, 298, 312, 313, 332, 338, 344, 345, 346, 349, 360, 363, 367,
             382, 391, 393, 406, 407, 408, 422, 427, 431, 466, 467, 478, 482,
             488],
            dtype='int64'),
 ('Female',
  'Poor'): Int64Index([  3,   6,   7,  25,  28,  29,  35,  50,  57,  67,
             ...
             470, 472, 475, 479, 484, 485, 486, 494, 498, 499],
            dtype='int64', length=106),
 ('Female',
  'Rich'): Int64Index([ 15,  18,  27,  36,  39,  41,  52,  53,  54,  58,  60,  63,  65,
              70,  78,  85,  90,  91,  93,  99, 104, 107, 108, 109, 116, 119,
             129, 140, 141, 144, 150, 151, 160, 162, 163, 181, 185, 187, 198,
             204, 223, 225, 234, 235, 242, 253, 260, 261, 262, 267, 277, 283,
             295, 303, 306, 328, 330, 335, 340, 355, 356, 362, 366, 370, 372,
             373, 377, 386, 390, 417, 419, 437, 440, 446, 449, 450, 451, 455,
             457, 460, 468, 471, 473, 476, 487, 496],
            dtype='int64'),
 ('Male',
  'Middle Class'): Int64Index([  4,  14,  19,  20,  21,  30,  40,  51,  59,  73,  80,  98, 114,
             121, 122, 125, 130, 131, 132, 139, 142, 149, 153, 167, 189, 199,
             201, 202, 207, 211, 215, 217, 224, 237, 238, 249, 254, 266, 269,
             273, 275, 280, 286, 293, 296, 297, 301, 304, 309, 315, 316, 318,
             323, 327, 329, 331, 333, 339, 343, 351, 359, 378, 379, 385, 395,
             396, 398, 405, 412, 413, 416, 420, 421, 423, 424, 448, 452, 454,
             463, 469, 492, 493],
            dtype='int64'),
 ('Male',
  'Poor'): Int64Index([  2,  10,  11,  16,  22,  24,  26,  37,  38,  43,  47,  48,  62,
              76,  83,  87, 101, 105, 124, 126, 128, 135, 136, 137, 147, 154,
             158, 168, 170, 177, 179, 183, 184, 190, 200, 203, 210, 232, 243,
             255, 256, 257, 258, 265, 281, 292, 308, 310, 311, 320, 321, 322,
             324, 326, 342, 347, 368, 402, 414, 415, 418, 425, 436, 439, 441,
             442, 447, 458, 461, 474, 480, 481, 489, 490, 497],
            dtype='int64'),
 ('Male',
  'Rich'): Int64Index([  8,   9,  13,  17,  33,  42,  45,  46,  61,  72,  75,  79,  89,
              92,  94,  95,  96, 111, 127, 146, 148, 152, 155, 159, 172, 176,
             180, 188, 193, 208, 209, 213, 214, 220, 229, 231, 240, 241, 244,
             245, 259, 263, 271, 289, 294, 299, 300, 305, 307, 317, 319, 350,
             352, 358, 361, 365, 374, 376, 388, 397, 410, 411, 434, 438, 445,
             456, 464, 465, 477, 483, 491, 495],
            dtype='int64')}